<h4 class="text-center">Regitre-se</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input placeholder="e-mail" class="form-control" formControlName="email"/>
  </div>
  <div class="form-group">
    <input placeholder="Nome Completo" class="form-control" formControlName="fullName" />
  </div>
  <div class="form-group">
    <input placeholder="Usuario" class="form-control" formControlName="userName" />
  </div>
  <div class="form-group">
    <input type="passworld"  placeholder="Senha" class="form-control" formControlName="passworld" />
  </div>

  <button class="btn btn-primary btn-block">Cadastro</button>
</form>
<a routerLink="" >Voltar</a>
